Registro de Convenios/pkgs/Wadl/Convenio-PATraerdatosdeauditor%eda.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Convenio-PATraerdatosdeauditoría" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Convenio - PA Traer datos de auditoría" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <number name="ManualTriggerInput_number_def" />
      <object name="ManualTriggerInput">
        <property name="number" type="number" />
      </object>
      <integer name="ResponseActionOutput_items_def_id_auditoria_def" />
      <integer name="ResponseActionOutput_items_def_id_estado_def" />
      <string name="ResponseActionOutput_items_def_ticket_def" />
      <string name="ResponseActionOutput_items_def_alcance_territorial_def" />
      <string name="ResponseActionOutput_items_def_usuario_modif_def" />
      <string name="ResponseActionOutput_items_def_fecha_def" />
      <string name="ResponseActionOutput_items_def_operacion_modif_def" />
      <string name="ResponseActionOutput_items_def_nombres_contrapartes_nacionales_def_items_def" />
      <array type="string" name="ResponseActionOutput_items_def_nombres_contrapartes_nacionales_def" />
      <string name="ResponseActionOutput_items_def_nombres_contrapartes_internacionales_def_items_def" />
      <array type="string" name="ResponseActionOutput_items_def_nombres_contrapartes_internacionales_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="id_auditoria" type="integer" />
        <property name="id_estado" type="integer" />
        <property name="ticket" type="string" />
        <property name="alcance_territorial" type="string" />
        <property name="usuario_modif" type="string" />
        <property name="fecha" type="string" />
        <property name="operacion_modif" type="string" />
        <property name="nombres_contrapartes_nacionales" typeRef="ResponseActionOutput_items_def_nombres_contrapartes_nacionales_def" />
        <property name="nombres_contrapartes_internacionales" typeRef="ResponseActionOutput_items_def_nombres_contrapartes_internacionales_def" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="number" path="/number" type="xs:double" required="true">
              <doc title="id_solicitud" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>