Registro de Convenios/pkgs/Wadl/Convenio-PAGuardarespecificaci%f3nconvenio.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Convenio-PAGuardarespecificaciónconvenio" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Convenio - PA Guardar especificación convenio" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_3_def" />
      <number name="ManualTriggerInput_number_def" />
      <number name="ManualTriggerInput_number_1_def" />
      <number name="ManualTriggerInput_number_2_def" />
      <number name="ManualTriggerInput_number_3_def" />
      <number name="ManualTriggerInput_number_4_def" />
      <object name="ManualTriggerInput">
        <property name="text_3" type="string" />
        <property name="number" type="number" />
        <property name="number_1" type="number" />
        <property name="number_2" type="number" />
        <property name="number_3" type="number" />
        <property name="number_4" type="number" />
      </object>
      <integer name="ResponseActionOutput_id_estado_def" />
      <object name="ResponseActionOutput">
        <property name="id_estado" type="integer" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text_3" path="/text_3" type="xs:string" required="true">
              <doc title="Propósito" />
            </param>
            <param style="plain" name="number" path="/number" type="xs:double" required="true">
              <doc title="id_convenio" />
            </param>
            <param style="plain" name="number_1" path="/number_1" type="xs:double" required="true">
              <doc title="id_estado" />
            </param>
            <param style="plain" name="number_2" path="/number_2" type="xs:double" required="true">
              <doc title="id_tipologia" />
            </param>
            <param style="plain" name="number_3" path="/number_3" type="xs:double" required="true">
              <doc title="id_tipo" />
            </param>
            <param style="plain" name="number_4" path="/number_4" type="xs:double" required="true">
              <doc title="id_modalidad" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>