Registro de Convenios/pkgs/Wadl/Convenio-PAGuardarcontraparteinternacionalregistrada.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Convenio-PAGuardarcontraparteinternacionalregistrada" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Convenio - PA Guardar contraparte internacional registrada" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <string name="ManualTriggerInput_text_3_def" />
      <string name="ManualTriggerInput_text_4_def" />
      <string name="ManualTriggerInput_text_5_def" />
      <string name="ManualTriggerInput_text_6_def" />
      <number name="ManualTriggerInput_number_def" />
      <number name="ManualTriggerInput_number_1_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
        <property name="text_3" type="string" />
        <property name="text_4" type="string" />
        <property name="text_5" type="string" />
        <property name="text_6" type="string" />
        <property name="number" type="number" />
        <property name="number_1" type="number" />
      </object>
      <integer name="ResponseActionOutput_id_estado_def" />
      <integer name="ResponseActionOutput_id_contraparte_def" />
      <object name="ResponseActionOutput">
        <property name="id_estado" type="integer" />
        <property name="id_contraparte" type="integer" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="nombre_entidad_contraparte" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="nombre_representante_legal" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="nombre_responsable_institucional" />
            </param>
            <param style="plain" name="text_3" path="/text_3" type="xs:string" required="true">
              <doc title="cargo_responsable_institucional" />
            </param>
            <param style="plain" name="text_4" path="/text_4" type="xs:string" required="true">
              <doc title="pais" />
            </param>
            <param style="plain" name="text_5" path="/text_5" type="xs:string" required="true">
              <doc title="correo_responsable_institucional" />
            </param>
            <param style="plain" name="text_6" path="/text_6" type="xs:string" required="true">
              <doc title="firma_digital" />
            </param>
            <param style="plain" name="number" path="/number" type="xs:double" required="true">
              <doc title="id_convenio" />
            </param>
            <param style="plain" name="number_1" path="/number_1" type="xs:double" required="true">
              <doc title="id_estado" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>