Registro de Convenios/pkgs/Wadl/DTI-PATraercontrapartesnoregistradas.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="DTI-PATraercontrapartesnoregistradas" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="DTI - PA Traer contrapartes no registradas" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
      </object>
      <string name="ResponseActionOutput_solicitudes_contraparte_internacional_def_items_def_id_def" />
      <string name="ResponseActionOutput_solicitudes_contraparte_internacional_def_items_def_nombre_def" />
      <string name="ResponseActionOutput_solicitudes_contraparte_internacional_def_items_def_pais_def" />
      <string name="ResponseActionOutput_solicitudes_contraparte_internacional_def_items_def_estado_def" />
      <string name="ResponseActionOutput_solicitudes_contraparte_internacional_def_items_def_file_def_Name_def" />
      <string name="ResponseActionOutput_solicitudes_contraparte_internacional_def_items_def_file_def_Value_def" />
      <object name="ResponseActionOutput_solicitudes_contraparte_internacional_def_items_def_file_def">
        <property name="Name" type="string" />
        <property name="Value" type="string" />
      </object>
      <object name="ResponseActionOutput_solicitudes_contraparte_internacional_def_items_def">
        <property name="id" type="string" />
        <property name="nombre" type="string" />
        <property name="pais" type="string" />
        <property name="estado" type="string" />
        <property name="file" typeRef="ResponseActionOutput_solicitudes_contraparte_internacional_def_items_def_file_def" />
      </object>
      <array typeRef="ResponseActionOutput_solicitudes_contraparte_internacional_def_items_def" name="ResponseActionOutput_solicitudes_contraparte_internacional_def" />
      <object name="ResponseActionOutput">
        <property name="solicitudes_contraparte_internacional" typeRef="ResponseActionOutput_solicitudes_contraparte_internacional_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="id_convenio" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>