Registro de Convenios/pkgs/Wadl/DTI-PATraerautoridadesm%e1ximas.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="DTI-PATraerautoridadesmáximas" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="DTI - PA Traer autoridades máximas" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <object name="ManualTriggerInput" />
      <string name="ResponseActionOutput_items_def_id_persona_def" />
      <string name="ResponseActionOutput_items_def_paterno_def" />
      <string name="ResponseActionOutput_items_def_materno_def" />
      <string name="ResponseActionOutput_items_def_nombres_def" />
      <string name="ResponseActionOutput_items_def_nombre_completo_def" />
      <string name="ResponseActionOutput_items_def_correo_udec_def" />
      <string name="ResponseActionOutput_items_def_cargo_def" />
      <string name="ResponseActionOutput_items_def_telefono_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="id_persona" type="string" />
        <property name="paterno" type="string" />
        <property name="materno" type="string" />
        <property name="nombres" type="string" />
        <property name="nombre_completo" type="string" />
        <property name="correo_udec" type="string" />
        <property name="cargo" type="string" />
        <property name="telefono" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>