Registro de Convenios/pkgs/Wadl/DTI-PAAgregarsolicituddecontraparteenSharepoint.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="DTI-PAAgregarsolicituddecontraparteenSharepoint" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="DTI - PA Agregar solicitud de contraparte en Sharepoint" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <string name="ManualTriggerInput_text_3_def" />
      <string name="ManualTriggerInput_text_4_def" />
      <string name="ManualTriggerInput_file_def_name_def" />
      <base64Binary name="ManualTriggerInput_file_def_contentBytes_def" />
      <object name="ManualTriggerInput_file_def">
        <property name="name" type="string" />
        <property name="contentBytes" typeRef="ManualTriggerInput_file_def_contentBytes_def" />
      </object>
      <string name="ManualTriggerInput_file_1_def_name_def" />
      <base64Binary name="ManualTriggerInput_file_1_def_contentBytes_def" />
      <object name="ManualTriggerInput_file_1_def">
        <property name="name" type="string" />
        <property name="contentBytes" typeRef="ManualTriggerInput_file_1_def_contentBytes_def" />
      </object>
      <string name="ManualTriggerInput_file_2_def_name_def" />
      <base64Binary name="ManualTriggerInput_file_2_def_contentBytes_def" />
      <object name="ManualTriggerInput_file_2_def">
        <property name="name" type="string" />
        <property name="contentBytes" typeRef="ManualTriggerInput_file_2_def_contentBytes_def" />
      </object>
      <string name="ManualTriggerInput_file_3_def_name_def" />
      <base64Binary name="ManualTriggerInput_file_3_def_contentBytes_def" />
      <object name="ManualTriggerInput_file_3_def">
        <property name="name" type="string" />
        <property name="contentBytes" typeRef="ManualTriggerInput_file_3_def_contentBytes_def" />
      </object>
      <string name="ManualTriggerInput_file_4_def_name_def" />
      <base64Binary name="ManualTriggerInput_file_4_def_contentBytes_def" />
      <object name="ManualTriggerInput_file_4_def">
        <property name="name" type="string" />
        <property name="contentBytes" typeRef="ManualTriggerInput_file_4_def_contentBytes_def" />
      </object>
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
        <property name="text_3" type="string" />
        <property name="text_4" type="string" />
        <property name="file" typeRef="ManualTriggerInput_file_def" />
        <property name="file_1" typeRef="ManualTriggerInput_file_1_def" />
        <property name="file_2" typeRef="ManualTriggerInput_file_2_def" />
        <property name="file_3" typeRef="ManualTriggerInput_file_3_def" />
        <property name="file_4" typeRef="ManualTriggerInput_file_4_def" />
      </object>
      <integer name="ResponseActionOutput_id_def" />
      <object name="ResponseActionOutput">
        <property name="id" type="integer" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="JSON unidad solicitante" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="JSON alcance" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="JSON entidad contraparte nacional" />
            </param>
            <param style="plain" name="text_3" path="/text_3" type="xs:string" required="true">
              <doc title="JSON entidad contraparte internacional" />
            </param>
            <param style="plain" name="text_4" path="/text_4" type="xs:string" required="true">
              <doc title="JSON solicitud contraparte" />
            </param>
            <param style="plain" name="file" path="/file" type="service:ManualTriggerInput_file_def">
              <doc title="file" />
            </param>
            <param style="plain" name="file_1" path="/file_1" type="service:ManualTriggerInput_file_1_def">
              <doc title="file_1" />
            </param>
            <param style="plain" name="file_2" path="/file_2" type="service:ManualTriggerInput_file_2_def">
              <doc title="file_2" />
            </param>
            <param style="plain" name="file_3" path="/file_3" type="service:ManualTriggerInput_file_3_def">
              <doc title="file_3" />
            </param>
            <param style="plain" name="file_4" path="/file_4" type="service:ManualTriggerInput_file_4_def">
              <doc title="file_4" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>