Registro de Convenios/pkgs/Wadl/DTI-PATraerestadosolicitudporpantalla.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="DTI-PATraerestadosolicitudporpantalla" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="DTI - PA Traer estado solicitud por pantalla" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
      </object>
      <string name="ResponseActionOutput_unidad_solicitante_registrada_def_nombre_unidad_solicitante_def" />
      <string name="ResponseActionOutput_unidad_solicitante_registrada_def_correo_solicitante_def" />
      <string name="ResponseActionOutput_unidad_solicitante_registrada_def_alcance_territorial_def" />
      <string name="ResponseActionOutput_unidad_solicitante_registrada_def_nombre_autoridad_def" />
      <string name="ResponseActionOutput_unidad_solicitante_registrada_def_cargo_autoridad_def" />
      <string name="ResponseActionOutput_unidad_solicitante_registrada_def_correo_autoridad_def" />
      <string name="ResponseActionOutput_unidad_solicitante_registrada_def_telefono_autoridad_def" />
      <string name="ResponseActionOutput_unidad_solicitante_registrada_def_nombre_responsable_def" />
      <string name="ResponseActionOutput_unidad_solicitante_registrada_def_cargo_responsable_def" />
      <string name="ResponseActionOutput_unidad_solicitante_registrada_def_correo_responsable_def" />
      <string name="ResponseActionOutput_unidad_solicitante_registrada_def_telefono_responsable_def" />
      <string name="ResponseActionOutput_unidad_solicitante_registrada_def_unidades_promotoras_def_items_def_reparticion_def" />
      <string name="ResponseActionOutput_unidad_solicitante_registrada_def_unidades_promotoras_def_items_def_codigo_reparticion_def" />
      <object name="ResponseActionOutput_unidad_solicitante_registrada_def_unidades_promotoras_def_items_def">
        <property name="reparticion" type="string" />
        <property name="codigo_reparticion" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_unidad_solicitante_registrada_def_unidades_promotoras_def_items_def" name="ResponseActionOutput_unidad_solicitante_registrada_def_unidades_promotoras_def" />
      <object name="ResponseActionOutput_unidad_solicitante_registrada_def">
        <property name="nombre_unidad_solicitante" type="string" />
        <property name="correo_solicitante" type="string" />
        <property name="alcance_territorial" type="string" />
        <property name="nombre_autoridad" type="string" />
        <property name="cargo_autoridad" type="string" />
        <property name="correo_autoridad" type="string" />
        <property name="telefono_autoridad" type="string" />
        <property name="nombre_responsable" type="string" />
        <property name="cargo_responsable" type="string" />
        <property name="correo_responsable" type="string" />
        <property name="telefono_responsable" type="string" />
        <property name="unidades_promotoras" typeRef="ResponseActionOutput_unidad_solicitante_registrada_def_unidades_promotoras_def" />
      </object>
      <object name="ResponseActionOutput">
        <property name="unidad_solicitante_registrada" typeRef="ResponseActionOutput_unidad_solicitante_registrada_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="id convenio" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="id estado solicitado" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>