Registro de Convenios/pkgs/Wadl/Listaespecificacionesconvenio.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Listaespecificacionesconvenio" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Lista especificaciones convenio" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <object name="ManualTriggerInput" />
      <string name="ResponseActionOutput_items_def_alcance_ux20_territorial_def_items_def_id_def" />
      <string name="ResponseActionOutput_items_def_alcance_ux20_territorial_def_items_def_valor_def" />
      <object name="ResponseActionOutput_items_def_alcance_ux20_territorial_def_items_def">
        <property name="id" type="string" />
        <property name="valor" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def_alcance_ux20_territorial_def_items_def" name="ResponseActionOutput_items_def_alcance_ux20_territorial_def" />
      <string name="ResponseActionOutput_items_def_tipologia_def_items_def_id_def" />
      <string name="ResponseActionOutput_items_def_tipologia_def_items_def_valor_def" />
      <object name="ResponseActionOutput_items_def_tipologia_def_items_def">
        <property name="id" type="string" />
        <property name="valor" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def_tipologia_def_items_def" name="ResponseActionOutput_items_def_tipologia_def" />
      <string name="ResponseActionOutput_items_def_tipo_ux20_solicitud_def_items_def_id_def" />
      <string name="ResponseActionOutput_items_def_tipo_ux20_solicitud_def_items_def_valor_def" />
      <object name="ResponseActionOutput_items_def_tipo_ux20_solicitud_def_items_def">
        <property name="id" type="string" />
        <property name="valor" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def_tipo_ux20_solicitud_def_items_def" name="ResponseActionOutput_items_def_tipo_ux20_solicitud_def" />
      <string name="ResponseActionOutput_items_def_modalidad_def_items_def_id_def" />
      <string name="ResponseActionOutput_items_def_modalidad_def_items_def_valor_def" />
      <object name="ResponseActionOutput_items_def_modalidad_def_items_def">
        <property name="id" type="string" />
        <property name="valor" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def_modalidad_def_items_def" name="ResponseActionOutput_items_def_modalidad_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="alcance territorial" typeRef="ResponseActionOutput_items_def_alcance_ux20_territorial_def" />
        <property name="tipologia" typeRef="ResponseActionOutput_items_def_tipologia_def" />
        <property name="tipo solicitud" typeRef="ResponseActionOutput_items_def_tipo_ux20_solicitud_def" />
        <property name="modalidad" typeRef="ResponseActionOutput_items_def_modalidad_def" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>