Registro de Convenios/pkgs/Wadl/VRIM-PATraelistadoactividades.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="VRIM-PATraelistadoactividades" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="VRIM - PA Trae listado actividades" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_InitializevariableCorreoUdeC_Value_def" />
      <object name="ManualTriggerInput">
        <property name="InitializevariableCorreoUdeC_Value" type="string" />
      </object>
      <string name="ResponseActionOutput_lista_actividades_def_items_def_fecha_def" />
      <string name="ResponseActionOutput_lista_actividades_def_items_def_nombre_def" />
      <string name="ResponseActionOutput_lista_actividades_def_items_def_id_def" />
      <string name="ResponseActionOutput_lista_actividades_def_items_def_ambito_def" />
      <string name="ResponseActionOutput_lista_actividades_def_items_def_rol_def" />
      <string name="ResponseActionOutput_lista_actividades_def_items_def_estado_def" />
      <object name="ResponseActionOutput_lista_actividades_def_items_def">
        <property name="fecha" type="string" />
        <property name="nombre" type="string" />
        <property name="id" type="string" />
        <property name="ambito" type="string" />
        <property name="rol" type="string" />
        <property name="estado" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_lista_actividades_def_items_def" name="ResponseActionOutput_lista_actividades_def" />
      <object name="ResponseActionOutput">
        <property name="lista_actividades" typeRef="ResponseActionOutput_lista_actividades_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="InitializevariableCorreoUdeC_Value" path="/InitializevariableCorreoUdeC_Value" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>