Registro de Convenios/pkgs/Wadl/VRIM-PABuscarPersonaJur%eddicapornombreoRut.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="VRIM-PABuscarPersonaJurídicapornombreoRut" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="VRIM - PA Buscar Persona Jurídica por nombre o Rut" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
      </object>
      <integer name="ResponseActionOutput_code_def" />
      <boolean name="ResponseActionOutput_status_def" />
      <string name="ResponseActionOutput_message_def" />
      <integer name="ResponseActionOutput_data_def_items_def_idPersona_def" />
      <integer name="ResponseActionOutput_data_def_items_def_rut_def" />
      <string name="ResponseActionOutput_data_def_items_def_dv_def" />
      <string name="ResponseActionOutput_data_def_items_def_razonSocial_def" />
      <string name="ResponseActionOutput_data_def_items_def_giro_def" />
      <string name="ResponseActionOutput_data_def_items_def_nombreFantasia_def" />
      <string name="ResponseActionOutput_data_def_items_def_publica_def" />
      <integer name="ResponseActionOutput_data_def_items_def_rutRepLegal_def" />
      <string name="ResponseActionOutput_data_def_items_def_dvRutRepLegal_def" />
      <string name="ResponseActionOutput_data_def_items_def_tipoClasificacionVrid_def" />
      <string name="ResponseActionOutput_data_def_items_def_usuarioModif_def" />
      <string name="ResponseActionOutput_data_def_items_def_fechaModif_def" />
      <object name="ResponseActionOutput_data_def_items_def">
        <property name="idPersona" type="integer" />
        <property name="rut" type="integer" />
        <property name="dv" type="string" />
        <property name="razonSocial" type="string" />
        <property name="giro" type="string" />
        <property name="nombreFantasia" type="string" />
        <property name="publica" type="string" />
        <property name="rutRepLegal" type="integer" />
        <property name="dvRutRepLegal" type="string" />
        <property name="tipoClasificacionVrid" type="string" />
        <property name="usuarioModif" type="string" />
        <property name="fechaModif" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_data_def_items_def" name="ResponseActionOutput_data_def" />
      <object name="ResponseActionOutput">
        <property name="code" type="integer" />
        <property name="status" type="boolean" />
        <property name="message" type="string" />
        <property name="data" typeRef="ResponseActionOutput_data_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="persona juridica" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="tipo" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>